<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .title }}</title>
  <link rel="shortcut icon" href="https://github.com/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div id="app">
    <textarea @input="handlePushData" v-model="content" class="content" name="input" cols="30" rows="10"></textarea>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  try { if (new URLSearchParams('q=%2B').get('q') !== '+') throw {}; }
  catch (error) {
    window.URLSearchParams = void 0;
    document.write('<script src="/static/url.js"><' + '/script>');
  }
</script>
<script type="text/javascript">
  const data = {{ .content }}
</script>
<script src="/static/main.js"></script>

</html>